<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
<title layout:fragment="title">用户中心 - 修改密码</title>
<style layout:fragment="css">
</style>
<div layout:fragment="main-content" class="am-panel am-panel-default main-content">
    <div class="am-panel-hd">修改密码</div>
    <div class="am-panel-body">
        <form class="am-form am-g" method="post" th:action="@{/profile/password}">
            <div class="am-form-group am-u-md-3">
                <label for="oldPassword">原密码</label>
                <input type="password" id="oldPassword" name="oldPassword" required min="6" max="32"/>
                <span th:if="${msg!=null}" th:text="${msg}" class="am-text-danger"></span>
            </div>
            <div class="am-cf"></div>
            <div class="am-form-group am-u-md-3">
                <label for="newPassword">新密码</label>
                <input type="password" id="newPassword" name="newPassword" required min="6" max="32"/>
            </div>
            <div class="am-cf"></div>
            <div class="am-form-group am-u-md-3">
                <label for="confirmPassword">请再次输入新密码</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required min="6" max="32"/>
            </div>
            <div class="am-cf"></div>
            <div class="am-form-group am-u-md-12">
                <input type="submit" value="保存" class="am-btn am-btn-success"/>
            </div>
        </form>
    </div>
</div>
<script layout:fragment="js">
</script>
</html>