<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songchengzhong.iot_service.mapper.ActionTypeMapper">
    <select id="findById" resultType="actionType">
    SELECT * FROM iot_service.t_action_type WHERE id = #{id}
    </select>
</mapper>